<main>

    <form action="" method="" class="formnov">

        <p>
            <input type="text" placeholder="Título">
        </p>

        <p>
            <select name="autor" id="autor">
                <option value="María Soledad Varela">María Soledad Varela</option>
            </select>
        </p>
        
        <p>
            <textarea name="cuerpo" id="cuerpo" cols="30" rows="10"
                placeholder="Ingrese el texto de la novedad"></textarea>
        </p>

        <button class="submit-login">Grabar</button>
        <button class="regresar" href="admin/novedades">Volver</button>
    </form>

</main>