<main>



    <div class="pasosContenedor formnov tituloartic">
     
        <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data">

            <p>
                <textarea name="titulo" placeholder="Título" id="titulo" rows="1" class="tituloartic" required></textarea>
            </p>

            <p>
                <select name="autor" id="autor">
                    <option value="Ma. Soledad Varela">Ma. Soledad Varela</option>
                    <option value="Maia Inés Elías">Maia Inés Elías</option>
                </select>
            </p>



            <p>
                <textarea name="cuerpo" id="my-expressjs-tinymce-app"  placeholder="Ingrese el texto de la novedad"></textarea>
            </p>

             <div class="tituloartic">
            {{!-- esto está relacionado con el upload de multer,x eso el name coincide --}}
            <input type="file" name="images" accept="image/jpeg, image/png" id="uploadImage" onchange="previewImage();"  class="file-img">
         
                <img class="img-preview"  id="uploadPreview"  src="../../../images/aguja-perro.jpg" width="150" />


             <input type="hidden" name="imagenes" id="imgPreview">
             
            
            </div>


            <p>
                <label for="etiquetas">Hashtags:</label><br />
                <textarea name="etiquetas" id="etiquetas" cols="30" rows="1" placeholder="Ingresar hashtags" required></textarea>
            </p>


            {{#if error}}
           <script> window.alert("No se cargó la novedad. Volvé a intentar")</script>
            {{/if}}

            <button class="submit-login" type="submit" onclick="cargar();">Grabar</button>
            <a class="regresar" href="/admin/novedades">Volver</a>
        </form>
    </div>


    <div id="loader"></div>


</main>