

<div class="imagesuploads">
{{#each filenames}}
<div class="imagesuploadschilds">
    <a class="borrar borrarimage" href="/admin/novedades/eliminarimagen/{{this}}" onclick="return confirm('¿Estás seguro que quieres eliminar esta imagen? Esta acción no se puede deshacer')">Borrar</a>
<a href="../../images/uploads/{{this}}">
<img src="../../images/uploads/{{this}}" alt="uploads" width="500" class="imagesupl" name="imagen" >
</a>

</div>

{{/each}}
</div>


<div class="regresar-centro">
        <a class="regresar" href="/admin/novedades">Volver</a>
        
    </div>


