
<main>
    <form  action="/admin/login" method="post">
        
        <div>
        <input type="text" name="usuario" id="usuario" placeholder="Usuario">
        </div>
        <div class="form-login">
        <input type="password" name="password" id="password" placeholder="Contraseña">
        </div>
        {{#if error}}
        <p>Usuario y/o contraseña incorrecta</p>
        {{/if}}
        <button type="submit" class="submit-login">Ingresar</button>
        
    </form>
    
</main>