<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CentroVet Enviado</title>
    <link rel="stylesheet" href="https://use.typekit.net/ixl2yfw.css">
    <link rel="stylesheet" href="stylesheets/base.css">
</head>
<body>
    <div class="enviado">
    <h2>Su mensaje ha sido enviado con éxito</h2>
    <a href="/">presione aquí para volver a la página principal</a>
    </div>
</body>
</html>