 <main>
        <div class="novedadestitulo" id="galeria">
            <h2>GALERÍA</h2>
        </div>

        <div class="galeria">
            <div class="galeimg"><img src="images/aguja-perro.jpg" alt=""></div>
            <div class="galeimg"><img src="images/tubos-sangre.jpg" alt=""></div>
            <div class="galeimg"><img src="images/perroygato2000x852.jpg" alt=""></div>
            <div class="galeimg"><img src="images/equipo.jpg" alt=""></div>
            <div class="galeimg"><img src="images/aguja-perro.jpg" alt=""></div>
            <div class="galeimg"><img src="images/tubos-sangre.jpg" alt=""></div>
            <div class="galeimg"><img src="images/perroygato2000x852.jpg" alt=""></div>
            <div class="galeimg"><img src="images/equipo.jpg" alt=""></div>
            <div class="galeimg"><img src="images/aguja-perro.jpg" alt=""></div>
            <div class="galeimg"><img src="images/tubos-sangre.jpg" alt=""></div>
            <div class="galeimg"><img src="images/perroygato2000x852.jpg" alt=""></div>
            <div class="galeimg"><img src="images/equipo.jpg" alt=""></div>
            <div class="galeimg"><img src="images/aguja-perro.jpg" alt=""></div>
            <div class="galeimg"><img src="images/tubos-sangre.jpg" alt=""></div>
            <div class="galeimg"><img src="images/perroygato2000x852.jpg" alt=""></div>
            <div class="galeimg"><img src="images/equipo.jpg" alt=""></div>
        </div>


    </main>