 <main>

     {{#if message}}<script>alert('Su mensaje ha sido enviado')</script>{{/if}}
     {{#if messageError}}<script>alert('Su mensaje No ha sido enviado \n Intente nuevamente' )</script>{{/if}}
     
        <!-- INICIO BIENVENIDA -->
        <div class="container bienvenida">
            <div class="row">
                <div class="col">
                    <h2>TE DAMOS LA BIENVENIDA A CENTROVET</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Hematología y Diagnóstico Veterinario</h3>
                </div>
            </div>
            <div class="row imgbienvenida">
                <div class="col">
                    <div class="globulosrojos"></div>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Desde nuestros comienzos en el año 2008, desarrollamos CentroVet pensado en satisfacer la demanda
                        de los centros de cuidados intensivos y clínicas veterinarias. Nos propusimos lograr un trabajo
                        en equipo, siendo la mano derecha de nuestros colegas, respondiendo de manera rápida y
                        confiable.<br />Centrovet está ideado por veterinarios que nos especializamos en diagnóstico de
                        laboratorio y hematología, brindando de esta manera un servicio sólido, con una visión
                        veterinaria integral. En 2015 abrimos nuestro consultorio hematológico, dedicado exclusivamente
                        a la atención de discrasias sanguíneas.</p>
                    <p class="slogan">CentroVet, desde hace más de 10 años, trabajando en equipo con el veterinario y
                        pensando en lo que la clínica diaria necesita.</p>
                </div>
            </div>

        </div>
        <!-- FIN BIENVENIDA -->



        <!-- INICIO SERVICIOS -->
        <div class="container-fluid" id="servicios">
            <div class="row contenedortitulos">
                <div class="col- col-sm-5 titulo align-self-center">
                    <h2>NUESTROS SERVICIOS</h2>
                </div>
                <div class="col- col-sm-7 posicionar">
                    <img src="images/perroygato2000x852.jpg" alt="animales" class="equipoimg ">
                    <div class="posicionar2">En CentroVet, la salud de tu mascota<br />es nuestra prioridad
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-around">
                <div class="col-11 col-sm-7 col-md-5 col-xl-5 servicios serv1">
                    <img src="images/aguja-perro.jpg" alt="perro y aguja">
                    <div>
                        <h3>Servicio de Hematología y Oncohematología</h3>

                        <p>La hematología es la rama de la medicina que estudia y trata las enfermedades de la sangre.
                            En
                            Centrovet, ofrecemos un servicio integral, ya que contamos con la infraestructura necesaria
                            para la atención del paciente hematológico, toma de muestras y el procesamiento de las
                            mismas.</p>
                        <ul>
                            <li>Hematología clínica</li>
                            <li>Oncohematología</li>
                            <li>Medicina transfusional</li>
                            <li>Punción de médula ósea</li>
                            <li>Punción de linfonódulos</li>
                            <li>Diagnóstico y tratamiento de <br />hemoparásitos</li>
                        </ul>

                        <div>
                            <a href="https://www.docturno.com/medico/varela-maria-soledad" target="_blank">Reserva
                                de turnos hematológicos</a>
                        </div>
                    </div>
                </div>

                <div class="col-11 col-sm-7 col-md-5 col-xl-5 servicios serv2">
                    <img src="images/tubos-sangre.jpg" alt="tubos de muestras">
                    <div>
                        <h3>Servicio de Laboratorio de Análisis Clínicos</h3>

                        <p>Brindamos a nuestros colegas un servicio ágil y confiable de análisis clínicos. Contamos con
                            retiro diario por tu veterinaria.</p>
                        <ul>
                            <li>Hematología</li>
                            <li>Química sanguínea</li>
                            <li>Urianálisis</li>
                            <li>Coproanálisis</li>
                            <li>Bacteriología y Micología</li>
                            <li>Endocrinólogo</li>
                            <li>Serología</li>
                        </ul>

                        <div>
                            <a href="#contacto">Solicitá
                                la lista de
                                precios y servicios</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- FIN SERVICIOS -->

        <!-- INICIO CONTACTO -->
        <div class="container-fluid" id="contacto">
            <div class="row contenedortitulos">
                <div class="col- col-sm-5 titulo align-self-center">
                    <h2>CONTACTO</h2>
                </div>

                <div class="col- col-sm-7 contactolabo">
                    <img src="images/labo2000x855.jpg" alt="laboratorio" class="equipoimg">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-lg-5">
                    <form action="/" method="post" class="formulario">
                        <h4>Formulario de Contacto</h4>
                        <p>
                            <label for="nombre">Nombre y Apellido</label>
                            <input type="text" name="nombre" id="nombre" title="Ingresa tu nombre y apellido" required>
                        </p>
                        <p>
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder=" ejemplo@mail.com"
                                title="Ingresa tu correo electrónico" required>
                        </p>
                        <p>
                            <label for="telefono">Teléfono</label>
                            <input type="text" name="tel" id="telefono" title="Ingresa tu teléfono" placeholder=" opcional">
                        </p>
                        <p>
                            <label for="direccion">Dirección</label>
                            <input type="text" name="dir" id="direccion" title="Ingresa tu dirección"
                                placeholder=" opcional">
                        </p>
                        <p>
                            <label for="asunto">Asunto</label>
                            <input type="text" name="asunto" id="asunto" title="Escriba un título para su solicitud" required>
                        </p>
                        <p>
                            <label for="comentario">Comentario</label>
                            <textarea name="comentario"  id="comentario" cols="30" rows="10"
                                title="Ingrese su comentario y/o solicitud" placeholder=" Escriba aquí..." required></textarea>
                        </p>
                        <div class="botonform">
                            <p><input type="submit" value="Enviar"></p>
                            <p><input type="reset" value="Borrar"></p>
                        </div>
                    </form>

                </div>

            </div>
        </div>
        <!-- FIN CONTACTO -->
    </main>
    
        