<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <link rel="mask-icon" href="favicon/safari-pinned-tab.svg">
  <link rel="shortcut icon" href="/public/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-config" content="favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- Favicon -->

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <!-- Bootstrap -->

    <!-- font-awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- font-awesome -->

  <title>Centro.Vet - Hematología y Diagnóstico</title>

  <link href="stylesheets/hamburgers.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"><!-- AOS -->
  <link rel="stylesheet" href="https://use.typekit.net/ixl2yfw.css"> <!-- link fuente -->
  <link rel="stylesheet" href="stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/normalize.css">

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> <!-- AOS -->

</head>

<body id="top">

  <header>
    <div class="holder logo"><a href="index"> <img src="images/centrovet-logo.png" alt="" class="maxwidthcontent"></a>
    </div>
  </header>

  <nav class="page-nav">
    <div class="hambu">
      <button class="hamburger hamburger--spring hambu" type="button" id='hamburger' onclick="botonabajo();">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <ul class="botonera navcerrado">
      <li><a href="/#top">Home</a></li>
      <li><a href="/quienessomos#quienessomos">Staff</a></li>
      <li><a href="/#servicios">Servicios</a></li>
      <li><a href="/galeria#galeria">Galería</a></li>
      <li><a href="https://www.docturno.com/medico/varela-maria-soledad" target="_blank">Turnos</a></li>
      <li><a href="/novedades#novedades">Novedades</a></li>
      <li><a href="/#contacto">Contacto</a></li>
      <li><a href="/#ubicacion">Ubicación</a></li>
      <li class="clientes"><a href="https://login.vetlims.com" target="_blank">Clientes</a></li>
    </ul>
  </nav>




  <!-- INICIO BOTÓN SUBIR -->
  <div class="contenedortop">
    <div class="top"><a href="#top"><img src="images/circle-down.svg" alt=""></a></div>
  </div>
  <!-- INICIO BOTÓN SUBIR -->


  {{{body}}}


  <!-- INICIO DIRECCIONES -->
  <div class="container-fluid contacto">
    <div class="row contactos align-items-center justify-content-center">
      <div class="col- col-md-4 horarios">
        <p>NUESTROS HORARIOS DE ATENCIÓN</p>
        <p>Atención al público Lun a Sáb de 12 a 18 hs</p>
        <p>Atención telefónica Lun a Sáb de 10 a 20 hs</p>
      </div>

      <div class="col- col-md-4 redes" id="ubicacion">
        <p class="icon-ubicacion"> <a href="https://goo.gl/maps/tZsque9i3UV4TjD16" target="_blank"> Av.
            Francisco Bilbao 1599 CABA</a>
        </p>

        <p class="icon-mail"><a href="mailto:consultas@centrovet.com.ar" target="_blank">
            consultas@centrovet.com.ar</a>
        </p>

        <p class="icon-telefono">
          <a href="tel:+541148924421"> +54 11 4892 4421</a>
        </p>


        <p class="icon-instagram">
          <a href="http://www.instagram.com/centrovet_hematologia" target="_blank">@centrovet_hematología</a>
        </p>

      </div>
      <div class="col- col-md-4 mapa">

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7442.479143773699!2d-58.4575326987942!3d-34.6331656323912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x61d27a179995ee0d!2sAv.%20Francisco%20Bilbao%201599%2C%20C1406%20FFE%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1621263315818!5m2!1ses-419!2sar"
          width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

      </div>

    </div>
  </div>

  <!-- FIN DIRECCIONES -->

  <!-- INICIO FOOTER -->
  <footer>Diseñado y Desarrollado por Maia I. Elías &copy; - 2021</footer>
  <!-- FIN FOOTER -->

  </main>

  <script src="javascripts/jquery-3.6.0.js"></script>
  <script>
  AOS.init();
</script>
  <script src="javascripts/codigo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
    </script>




</body>

</html>