 <main>
        <!-- INICIO NOVEDADES -->


        <div class="novedadestitulo" id="novedades">
            <h2>NOVEDADES</h2>
        </div>


        <div class="container-fluid novedades">
            <div class="row">
                <div class="col">
                    <h4>Título</h4>
                </div>
            </div>

            <div class="row bajada">
                <div class="col">
                    <p class="fecha">14 de noviembre de 2020 10:30 hs</p>
                    <span class="icon-calendar"></span>
                    <span class="icon-clock">-</span>
                    <p class="autor">María Soledad Varela</p>
                </div>
              </div>
            <hr>
            <div class="row">
                <div class="col contenido">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero numquam ex quam similique
                        asperiores cupiditate officiis, omnis perspiciatis itaque molestias laborum fugit quisquam
                        quaerat. Corporis laudantium facere amet suscipit quibusdam?
                    </p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci praesentium, saepe ipsam iusto
                        sunt vero magnam eum enim repellat illo voluptatibus reiciendis dolorem modi labore rerum quo
                        aliquam, perspiciatis excepturi.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dicta possimus incidunt
                        perferendis non ad, neque voluptatibus dolorum velit nostrum delectus hic earum eos vero
                        explicabo commodi nemo, obcaecati facilis.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid novedades">
            <div class="row">
                <div class="col">
                    <h4>Título</h4>
                </div>
            </div>

            <div class="row bajada">
                <div class="col">
                    <p class="fecha">14 de noviembre de 2020 10:30 hs</p>
                    <span class="icon-calendar"></span>
                    <span class="icon-clock">-</span>
                    <p class="autor">María Soledad Varela</p>
                </div>
              </div>
            <hr>
            <div class="row">
                <div class="col contenido">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero numquam ex quam similique
                        asperiores cupiditate officiis, omnis perspiciatis itaque molestias laborum fugit quisquam
                        quaerat. Corporis laudantium facere amet suscipit quibusdam?
                    </p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci praesentium, saepe ipsam iusto
                        sunt vero magnam eum enim repellat illo voluptatibus reiciendis dolorem modi labore rerum quo
                        aliquam, perspiciatis excepturi.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dicta possimus incidunt
                        perferendis non ad, neque voluptatibus dolorum velit nostrum delectus hic earum eos vero
                        explicabo commodi nemo, obcaecati facilis.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid novedades">
            <div class="row">
                <div class="col">
                    <h4>Título</h4>
                </div>
            </div>

            <div class="row bajada">
                <div class="col">
                    <p class="fecha">14 de noviembre de 2020 10:30 hs</p>
                    <span class="icon-calendar"></span>
                    <span class="icon-clock">-</span>
                    <p class="autor">María Soledad Varela</p>
                </div>
              </div>
            <hr>
            <div class="row">
                <div class="col contenido">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero numquam ex quam similique
                        asperiores cupiditate officiis, omnis perspiciatis itaque molestias laborum fugit quisquam
                        quaerat. Corporis laudantium facere amet suscipit quibusdam?
                    </p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci praesentium, saepe ipsam iusto
                        sunt vero magnam eum enim repellat illo voluptatibus reiciendis dolorem modi labore rerum quo
                        aliquam, perspiciatis excepturi.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dicta possimus incidunt
                        perferendis non ad, neque voluptatibus dolorum velit nostrum delectus hic earum eos vero
                        explicabo commodi nemo, obcaecati facilis.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid novedades">
            <div class="row">
                <div class="col">
                    <h4>Título</h4>
                </div>
            </div>

            <div class="row bajada">
                <div class="col">
                    <p class="fecha">14 de noviembre de 2020 10:30 hs</p>
                    <span class="icon-calendar"></span>
                    <span class="icon-clock">-</span>
                    <p class="autor">María Soledad Varela</p>
                </div>
              </div>
            <hr>
            <div class="row">
                <div class="col contenido">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero numquam ex quam similique
                        asperiores cupiditate officiis, omnis perspiciatis itaque molestias laborum fugit quisquam
                        quaerat. Corporis laudantium facere amet suscipit quibusdam?
                    </p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci praesentium, saepe ipsam iusto
                        sunt vero magnam eum enim repellat illo voluptatibus reiciendis dolorem modi labore rerum quo
                        aliquam, perspiciatis excepturi.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dicta possimus incidunt
                        perferendis non ad, neque voluptatibus dolorum velit nostrum delectus hic earum eos vero
                        explicabo commodi nemo, obcaecati facilis.</p>
                </div>
            </div>
        </div>

        <!-- FIN NOVEDADES -->
    </main>