<main>
    <!-- INICIO EQUIPO -->
    <div class="container-fluid" id="quienessomos">
        <div class="row contenedortitulos">
            <div class="col- col-sm-5 titulo align-self-center">
                <h2>NUESTRO EQUIPO</h2>
            </div>
            <div class="col- col-sm-7 equipoimgt">
                <img src="images/equipo.jpg" alt="animales" class="equipoimg">
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-8 col-lg-10 equipo" data-aos="flip-up" data-aos-duration="1000">
                <p>CentroVet Hematología y Diagnóstico ha sido creado en 2008 por la veterinaria María Soledad
                    Varela, especialista en Diagnóstico de Laboratorio Veterinario. Actualmente dirige el centro y
                    es la directora responsable del servicio de hematología. Nuestro laboratorio está compuesto
                    además, por profesionales veterinarios comprometidos con lo que hacen.<br />
                    Gracias a nuestro atento equipo de veterinarios y personal técnico, usted tiene la certeza de
                    que su mascota está en las mejores manos.</p>
            </div>
        </div>
    </div>

    <!-- INICIO CV -->
    <div class="equipos">
        <div >
            <div class="cv"   data-aos="flip-left">
                <div class="cvimg">
                    <img src="images/solev.jpeg" alt="Ma. Soledad Varela">
                </div>
                <div class=" vete">
                    <p>Veterinaria</p>
                    <p>María Soledad Varela</p>
                    <p>MN 8977</p>
                </div>
                <!-- link modal -->
                <div class="cvmodal">
                    <a class="" data-bs-toggle="modal" data-bs-target="#cvmodal">
                        Ver más</a>
                </div>
                <!-- link modal -->
            </div>
            <!-- texto modal -->
            <div class="modal" tabindex="-1" id="cvmodal">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Facultad de Ciencias Veterinarias de la Universidad de
                                    Buenos
                                    Aires</strong><br /> Intensificación en clínica de pequeños animales</p>
                            <p><strong>Técnicas de Diagnóstico en el laboratorio de Enfermedades
                                    Infecciosas</strong><br />
                                Cátedra de Enfermedades Infecciosas de FCV UBA, CABA</p>
                            <p><strong>Pasante en Hematología general y especial en el Hospital
                                    Escuela de FCV
                                    UBA</strong><br />
                                2011 – 2013</p>
                            <p><strong>Pasante en el Laboratorio de Análisis Clínicos del
                                    Hospital Escuela de
                                    FCV
                                    UBA</strong><br />
                                2011 – 2013</p>
                            <p><strong>Especialista en Diagnóstico de Laboratorio Veterinario
                                    Universidad
                                    Nacional
                                    de La Plata</strong><br />
                                2019</p>
                            <p><strong>Directora en Centrovet. Hematología y
                                    Diagnóstico</strong><br />
                                2008 a la actualidad</p>
                        </div>
                        {{!-- <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div> --}}
                    </div>
                </div>
            </div>

            <!-- texto modal -->

            
        </div>
        <div >
            <div class="cv2"  data-aos="flip-left">
                <div class="cvimg">
                    <img src="https://via.placeholder.com/960x1280" alt="Carolina Mentaberry">
                </div>
                <div class="vete">
                    <p>Técnica en Laboratorio</p>
                    <p>Carolina Mentaberry</p>
                </div>
            </div>
        </div>
        <div >
            <div class="cv2"  data-aos="flip-left">
                <div class="cvimg">
                    <img src="https://via.placeholder.com/960x1280" alt="Mariela Dolcetti">
                </div>
                <div class="vete">
                    <p>Veterinaria</p>
                    <p>Mariela Dolcetti</p>
                </div>
            </div>
        </div>
    </div>



    <!-- cierre grid acordeón -->
    <!-- FIN CV -->
    <!-- FIN EQUIPO -->
</main>