@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?861tgw');
  src:  url('fonts/icomoon.eot?861tgw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?861tgw') format('truetype'),
    url('fonts/icomoon.woff?861tgw') format('woff'),
    url('fonts/icomoon.svg?861tgw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-number2:before {
  content: "\e906";
}
.icon-number3:before {
  content: "\e907";
}
.icon-number4:before {
  content: "\e908";
}
.icon-number5:before {
  content: "\e909";
}
.icon-number:before {
  content: "\e904";
}
.icon-number1:before {
  content: "\e905";
}
.icon-mail1:before {
  content: "\e900";
}
.icon-ubicacion:before {
  content: "\e901";
}
.icon-telefono:before {
  content: "\e902";
}
.icon-nuevo:before {
  content: "\e924";
}
.icon-descarga:before {
  content: "\e9c7";
}
.icon-agregar:before {
  content: "\ea0a";
}
.icon-mail:before {
  content: "\ea86";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-instagram:before {
  content: "\e903";
  color: #e4405f;
}
