/* font-family: myriad-pro, sans-serif;
Normal e Italic

Light:300
Regular:400
Semibold:600
Bold:700

colores:
botonera:#9E8D96
clientes/rosa logo: #F5C1DD
otro rosa: #ee9fc9
violeta logo: #83045e
texto oscuro:#9D8189
más oscuro:#674e56

color fecha gris claro: #b3acae
  color autor: #cc869c;

    box-shadow: #b3acae;
  
*/

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?861tgw');
  src: url('../fonts/icomoon.eot?861tgw#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?861tgw') format('truetype'), url('../fonts/icomoon.woff?861tgw') format('woff'), url('../fonts/icomoon.svg?861tgw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: myriad-pro, sans-serif;
}

header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

header img {
  max-width: 350px;
}

main {
  padding: 30px 0;
}

h3 {
  padding-top: 20px;
  font-weight: 400;
  text-align: center;
  color: #83045e;
}

/* INICIO FOOTER */

footer {
  background-color: #F5C1DD;
  color: #674e56;
  text-align: center;
  padding: 20px 0 20px 10px;
  width: 100%;
  font-size: 0.9em;
}

/* FIN FOOTER */

/* COMIENZO FORMULARIO LOGIN */

.formulariologin {
  margin: 50px auto;
  width: 70%;
  text-align: center;
  box-shadow: 0 0 10px #b3acae;
  padding: 30px;
  border-radius: 20px;
}

.formulariologin input {
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 90%;
  padding: 5px;
}

input::placeholder {
  font-style: italic;
}

.form-login {
  margin-top: 20px;
  margin-bottom: 30px;
}

.submit-login {
  background-color: #83045e;
  color: white;
  font-size: 0.9em;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
}

.submit-login:hover {
  background-color: #F5C1DD;
  color: #674e56;
  transition: all 0.3s ease;
}

.submit-login:active {
  background-color: #674e56;
  color: #ccc;
}

/* FIN FORMULARIO LOGIN */

/* COMIENZO NOVEDADES */

/*heading novedades*/

.inicio {
  margin: 10px auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.saludo {
  font-size: 1em;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 20px;
}

.usuario-novedades {
  text-transform: capitalize;
}

.cerrar {
  padding: 5px;
  align-self: center;
}

.cerrarses, .nuevobtn {
  font-size: 0.9em;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.orden {
  width: 95%;
  margin: 0 auto;
  display: flex;
  height: 40px;
}

.boton {
  display: block;
  border: none;
  border-radius: 10px;
  width: 120px;
  /* line-height: 25px; */
  height: 35px;
  padding: 7px;
  box-sizing: border-box;
  color: white;
  background-color: #572937;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  text-align: center;
  margin-right: 10px;
  font-size: 0.9em;
}

.off {
  background-color: #9D8189;
}

.boton:hover {
  background-color: #9D8189;
  color: white;
}

.search {
  margin: 0 auto 20px;
}

.button-search {
  position: relative;
  top: 28px;
  left: 7px;
}

.search input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px 23px 5px 30px;
}

.search input::placeholder {
  font-weight: 400;
}

.resultado {
  width: 95%;
  margin: 5px auto;
}

/*fin heading novedades*/

/*tabla novedades*/

.nuevo {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 60px auto 10px;
}

.nuevo h4 {
  line-height: 30px;
}

.table {
  margin: 5px auto 20px;
  width: 95%;
  border-radius: 20px;
  overflow: hidden;
}

.thead {
  background-color: #83045e;
  color: white;
}

.acciones .fas {
  font-size: 1.2em;
  width: 25px;
  color: #83045e;
}

.acciones {
  text-align: center;
}

/*fin tabla novedades*/

/* agregar novedades */

.formnov {
  width: 80%;
  margin: 0 auto;
}

.formnov textarea {
  resize: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 5px;
}

.formnov textarea::placeholder {
  font-style: italic;
}

.regresar {
  background-color: #9D8189;
  color: white;
  font-size: 0.9em;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
}

.regresar:hover {
  background-color: #674e56;
  color: white;
  transition: all 0.3s ease;
}

.regresar:active {
  background-color: #572937;
  color: #ccc;
}

.regresar {
  text-decoration: none;
}

.notacion {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 30px auto;
  width: 80%;
  padding: 5px;
}

.cargarImagen {
  margin: 10px auto;
  width: 80%;
}

.file-img{
  color:lightseagreen;
  font-weight: 600;
}

.img-preview{
  display: block;
    max-width: 100%;
    height:auto
}

input[type=file]::-webkit-file-upload-button {
  font-weight: 400;
  border-radius: 10px;
  border: none;
  padding: 7px;
  box-sizing: border-box;
  color: white;
  background-color: #572937;
  transition: all 0.2s ease-in-out;
  text-align: center;
  font-size: 0.9em;
  cursor: pointer;
  margin-bottom: 20px;
}

input[type=file]::-webkit-file-upload-button:hover {
  background-color: #9D8189;
}

input[type=file]::-webkit-file-upload-button:active {
  background-color: #83045e;
}

input[type=file]::file-selector-button {
  font-weight: 400;
  border-radius: 10px;
  border: none;
  padding: 7px;
  box-sizing: border-box;
  color: white;
  background-color: #572937;
  transition: all 0.2s ease-in-out;
  text-align: center;
  font-size: 0.9em;
  cursor: pointer;
  margin-bottom: 20px;
}

input[type=file]::file-selector-button:hover {
  background-color: #9D8189;
}

input[type=file]::file-selector-button:active {
  background-color: #83045e;
}


/* .img-cargada{
  margin: 10px;
  color:darkmagenta;
  background-color:lightpink; 
  text-align: center; 
  border-radius:10px
} */

.pasos {
  color: #674e56;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5c1dd+1,f4cbe1+19,f4cbe1+19,f4deea+39,f9f9f9+78 */
  background: #f5c1dd;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f5c1dd 1%, #f4cbe1 19%, #f4cbe1 19%, #f4deea 39%, #ffffff 78%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f5c1dd 1%, #f4cbe1 19%, #f4cbe1 19%, #f4deea 39%, #ffffff 78%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f5c1dd 1%, #f4cbe1 19%, #f4cbe1 19%, #f4deea 39%, #ffffff 78%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5c1dd', endColorstr='#f9f9f9', GradientType=1);
  /* IE6-9 */
  border-radius: 20px;
  padding: 5px;
}

.pasosContenedor {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pasosContenedor h4 {
  margin: 20px 0 40px;
}

.tituloartic {
  margin-top: 30px;
}


/* fin agregar novedades */

/* ICOMOON NOVEDADES */

.icon-clock:before {
  font-family: 'icomoon';
  content: "\e94e";
  margin-right: 0.7em;
  font-size: 0.8em;
}

.icon-calendar:after {
  font-family: 'icomoon';
  content: "\e953";
}

.icon-calendar, .icon-clock {
  color: #b3acae;
  margin-left: 0.5em;
  font-style: normal;
}

.icon-number:before {
  font-family: 'icomoon';
  content: "\e904";
  color: #674e56;
  position: relative;
  top: 2px;
}

.icon-number1:before {
  font-family: 'icomoon';
  content: "\e905";
  color: #674e56;
  position: relative;
  top: 2px;
}

.icon-number2:before {
  font-family: 'icomoon';
  content: "\e906";
  color: #674e56;
}

.icon-number3:before {
  font-family: 'icomoon';
  content: "\e907";
  color: #674e56;
}

.icon-number4:before {
  font-family: 'icomoon';
  content: "\e908";
  color: #674e56;
}

.icon-number5:before {
  font-family: 'icomoon';
  content: "\e909";
  color: #674e56;
}

/* ICOMOON NOVEDADES */

/* previsualizar novedades */

.novedadestitulo {
  padding: 50px 0;
  margin: 0 auto;
  width: 100%;
}

.novedadestitulo h2 {
  text-align: center;
  color: #ee9fc9;
  font-weight: 600;
}

.novedades {
  margin-bottom: 50px;
  padding: 10px;
  width: 90%;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 0 0 20px #b3acae;
}

.novedades h3 {
  text-align: left;
  margin-bottom: 5px;
  line-height: 1em;
}

.bajada div {
  display: flex;
  /* lo puse para alinear los p y span*/
}

.bajada p {
  margin-bottom: 0;
  font-size: 0.7em;
  font-weight: 300;
  text-align: center;
  line-height: 2em;
}

.fecha {
  margin-top: 0;
  padding-left: 0.2em;
  color: #b3acae;
  margin-bottom: 0;
  font-style: italic;
  text-transform: capitalize;
}

.autor {
  color: #cc869c;
  text-align: left;
  padding-left: 0.7em;
  font-weight: 300;
}

.contenido p {
  color: rgb(43, 42, 42);
  text-align: left;
  font-weight: 400;
  line-height: 2em;
  margin: 10px;
}

.imagen-novedad {
  display: flex;
  justify-content: center;
}

.imagen-novedad img {
  width: 100%;
  max-width: 500px;
}

hr {
  margin: 0;
  margin-bottom: 1em;
}

.etiquetahr {
  margin-bottom: 0;
}

.etiquetas p {
  text-align: left;
  margin-bottom: 0;
  padding-left: 0.3em;
  font-size: 1em;
}

.regresar-centro {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

/* previsualizar novedades*/

/* FIN NOVEDADES */

@media screen and (min-width: 576px) {
  .formulariologin {
    width: 60%;
  }
}

@media screen and (min-width: 720px) {
  .searchcontenedor {
    position: relative;
    margin: 0;
    width: 100%;
  }
  .search {
    position: absolute;
    left: 66%;
    bottom: 5px;
  }
  .formulariologin {
    width: 40%;
  }
  .formulariologin input {
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .search {
    left: 73%;
  }
  .formulariologin {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .search {
    left: 75%;
  }
  .formulariologin {
    width: 30%;
  }
}

@media screen and (min-width: 1140px) {
  .search {
    left: 73%;
  }
}

@media screen and (min-width: 1260px) {
  .search {
    left: 90%;
  }
  .formulariologin {
    width: 20%;
  }
}

@media screen and (min-width: 1320px) {
  .search {
    left: 79%;
  }
}