/* font-family: myriad-pro, sans-serif;
Normal e Italic

Light:300
Regular:400
Semibold:600
Bold:700

colores:
botonera:#9E8D96
clientes/rosa logo: #F5C1DD
otro rosa: #ee9fc9
violeta logo: #83045e
texto oscuro:#9D8189
más oscuro:#674e56

color fecha gris claro: #b3acae
  color autor: #cc869c;
*/

body {
  margin: 0;
  padding: 0;
  font-family: myriad-pro, sans-serif;
}

header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

header img {
  width: 55%;
  max-width: 350px;
}

main {
  padding: 30px 0;
}

/* INICIO FOOTER */

footer {
  background-color: #F5C1DD;
  color: #674e56;
  text-align: center;
  padding: 20px 0 20px 10px;
  width: 100%;
  font-size: 0.9em;
}

/* FIN FOOTER */

/* COMIENZO FORMULARIO LOGIN */

.formulariologin {
  margin: 100px auto;
  width: 300px;
}

.formulariologin input {
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 300px;
  padding: 5px;
}

input::placeholder {
  font-style: italic;
}

.form-login {
  margin-top: 20px;
  margin-bottom: 30px;
}

.submit-login {
  background-color: #83045e;
  color: white;
  font-size: 0.9em;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
}

.submit-login:hover {
  background-color: #F5C1DD;
  color: #674e56;
  transition: all 0.3s ease;
}

.submit-login:active {
  background-color: #674e56;
  color: #ccc;
}

/* FIN FORMULARIO LOGIN */


/* COMIENZO NOVEDADES */

/*heading novedades*/





.inicio {
  margin: 10px auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.saludo {
  font-size: 1em;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 20px;
}

.usuario-novedades {
  text-transform: capitalize;
}

.cerrar{
  padding: 5px;
 align-self: center;
}

.cerrarses, .nuevobtn {
  font-size: 0.9em;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.ordenContenedor {
 margin: 0 auto;
 width: 95%;
 overflow: visible;
 height: 50px;
}

.ordenContenedor button{
  padding: 10px;
  border: none;
  /* border-radius: 10px 10px 0 0; */
  background-color: #674e56;
  color: white;
  width: 120px;
}

.orden{
  display: flex;
  flex-direction: column;
  background-color: #F5C1DD;
  width: 120px;
  /* border-radius: 10px; */
  padding: 10px;

position: relative;
bottom: 50px;
left: 120px;

  transition: all 0.4s ease-in-out ;
}




.orden a{
  text-decoration: none;
  color: white;
}

.ordenopacity{
  opacity: 0%;

}

.ordenopacitynew{
 opacity: 100%;
 
}



/*fin heading novedades*/

/*tabla novedades*/

.nuevo {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 60px auto 0px;
}

.nuevo h4 {
  line-height: 30px;
}

.table {
  margin: 5px auto 20px;
  width: 95%;
}

.thead {
  background-color: #83045e;
  color: white;
}

.acciones .fas {
  font-size: 1.2em;
  width: 25px;
  color: #83045e;
}

.acciones {
  text-align: center;
}

/*fin tabla novedades*/

/* agregar novedades */

.formnov {
  width: 80%;
  margin: 0 auto;
}

.formnov textarea {
  resize: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 5px;
}

.formnov textarea::placeholder {
  font-style: italic;
}

.regresar {
  background-color: #9D8189;
  color: white;
  font-size: 0.9em;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
}

.regresar:hover {
  background-color: #674e56;
  color: white;
  transition: all 0.3s ease;
}

.regresar:active {
  background-color: #572937;
  color: #ccc;
}

.regresar {
  text-decoration: none;
}

.notacion {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 30px auto;
  width: 80%;
  padding: 5px;
}

/* fin agregar novedades */

/* FIN NOVEDADES */